body{
    background: linear-gradient(rgb(178, 178, 6), black);
}

.navbar-toggler-icon{
    background-color: orange;
}

#nav{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.nav-link{
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#link{
    color: white;
}

a :hover{
    background-color: yellow;
    color: black;
}

.fw-light{
    color: rgb(43, 42, 39);
    text-align: center;
}

.card-body{
    text-align: center;
    height: 300px;
}

.card-body4{
    text-align: center;
    height: 290px;
}

.card-body5{
    text-align: center;
    height: 310px;
}

.card-body6{
    text-align: center;
    height: 345px;
}


.card{
    margin-left: 70px;
    border-radius: 15px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
}

.card:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

#button-card{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 0);
    margin-top: 25px;
}

#button-card5{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 0);
    margin-top: 85px;
}

#button-card5:hover{
    transform: translateY(-0.25em);
}

#button-card:hover{
    transform: translateY(-0.25em);
}

#button-card6{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 0);
    margin-top: 70px;
}


#button-card6:hover{
    transform: translateY(-0.25em);
}

.fw-light2{
    color: gold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#button-spinoff{
    margin-left: 70px;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    background-color: yellow;
}

.card-spinoff{
    margin-left: 80px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.card-spinoff3{
    margin-left: 80px;
    border-radius: 10px;
    margin-bottom: 30px;

}
.card-spinoff:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.card-spinoff3:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

#card-image-spinoff3{
    width: 320px;
    height: 470px;
}

#button-spinoff:hover{
    transform: translateY(-0.25em);
}




