/* css home.html */
#sfondo1{
    background: linear-gradient(rgb(178, 178, 6), black);
}

.navbar-toggler-icon{
    background-color: orange;
}

#nav{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.nav-link{
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#link{
    color: white;
}

a :hover{
    background-color: yellow;
    color: black;
}

.fw-light{
    color: rgb(43, 42, 39);
    text-align: center;
}

.card-body{
    text-align: center;
    height: 100px;
}

.card-body2{
    text-align: center;
    height: 140px;
}

.card-body4{
    text-align: center;
    height: 85px;
}

.card-body5{
    text-align: center;
    height: 100px;
}

.card-body6{
    text-align: center;
    height: 100px;
}


.card{
    margin-left: 70px;
    border-radius: 15px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
}

.card:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.fw-light2{
    color: gold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#button-spinoff{
    margin-left: 70px;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    background-color: yellow;
}

.card-spinoff{
    margin-left: 80px;
    border-radius: 10px;
    margin-bottom: 30px;
}

#card-image-spinoff3{
    height: 470px;
}

.card-spinoff3{
    margin-left: 80px;
    border-radius: 10px;
    margin-bottom: 30px;

}
.card-spinoff:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.card-spinoff3:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

#button-spinoff:hover{
    transform: translateY(-0.25em);
}

/* csss di transformers.html */

#img-sfondo-page2{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-4{
    margin-left: 300px;
}

.img-tras:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    box-shadow: 10px 10px 10px 5px #0400ff;;
}

/* css di LOTR.html */


#img-sfondo-page3{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fw-light3{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.card-body-lotr1{
    text-align: center;
    height: 115px;
}

.card-body-lotr2{
    text-align: center;
    height: 115px;
}

.card-body-lotr3{
    text-align: center;
    height: 90px;
}